@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #181832;
  color: white;
}

h1 {
  font-size: 3rem;
}

.banner-container {
  background-image: url(../img/lefetech-background-banner.jpg);
  width: auto;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  margin-top: 2rem;
  width: 60vw;
}

.a1 {
  padding: 1rem 0;
}

.a1:hover,
.a2:hover {
  background-color: #f15c2c;
  color: white;
  font-weight: normal;
}

.a2 {
  padding: 1rem;
}

.navbar {
  --bs-navbar-padding-y: 0 !important;
}

.navbar-brand {
  font-family: "Oswald", sans-serif;
}

.logo-footer {
  font-family: "Oswald", sans-serif;
}

.card-title {
  height: 5rem;
}

.nvidia-card {
  box-shadow: 6px 6px #78b903;
}

.amd-card {
  box-shadow: 6px 6px #e40e3a;
}

.btn-oka {
  background-color: #f36621;
}

.btn-oka:hover {
  background-color: #f08753 !important;
}

.text-oka {
  color: #f36621;
}

.form-check-input:checked {
  background-color: #f36621 !important;
}

footer {
  min-height: 100%;
  padding-top: 1rem;
}

a.underline {
  text-decoration: underline;
  cursor: pointer;
  color: #f36621;
}

.leandro-card {
  box-shadow: 6px 6px #1475ba;
  margin: 0.5rem;
}
